<nav class="navbar navbar--ts navbar-fixed-top">
  <div class="navbar--ts__container container">
    <div class="navbar-header navbar--ts__header">
      <button id="navbar-btn" type="button" class="navbar-toggle collapsed" (click) ='toggle()'>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
          <div class="account-info"><a routerLink ='/login'>Sign In</a></div>
      <a class="navbar--ts__header--brand navbar-brand" href="/">
        <span class="icon-thingspace"></span>
        <span class="logo-title">ThingSpace1</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="topmenu">
          <li class="topmenu__list">
              <a class="topmenu__list--link" href="/developer/">
                  <h4 class="topmenu__list--header">Develop</h4>
              </a>
              <ul class="topmenu__sub">
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/developer/apis#/">APIs</a></li>
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/developer/build#/trynow">Try It</a></li>
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/developer/devkits#/wearables">Wearables</a></li>
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/developer/devkits#/boards">Kits</a></li>

              </ul>
          </li>
          <li class="topmenu__list">
              <a class="topmenu__list--link" href="/manage">
                  <h4 class="topmenu__list--header">Manage</h4>
              </a>
              <ul class="topmenu__sub">
                <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="#">Devices</a></li>
                <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="#">Connections</a></li>
                <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/manage/account/billing">Billing</a></li>
              </ul>
          </li>
          <li class="topmenu__list">
              <a class="topmenu__list--link" href="#">
                  <h4 class="topmenu__list--header">Market</h4>
              </a>
              <ul class="topmenu__sub">
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="http://www.verizonenterprise.com/partnerprogram/">Partners</a></li>
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="http://www.verizonenterprise.com/products/internet-of-things">Solutions</a></li>
                  <li class="topmenu__sub__list"><a class="topmenu__sub__list--link" href="/techcrunch/">Events</a></li>
              </ul>
          </li>

          <li class="topmenu__list topmenu__list--last">
              <a class="topmenu__list--link" href="/contact">
                  <h4 class="topmenu__list--header">Contact</h4>
              </a>
              <ul class="sn">
                  <li class="sn__list"><a class="sn__list--link" href="http://www.linkedin.com/company/1094?trk=tyah"><span class="icon-linkedin"></span></a></li>
                  <li class="sn__list"><a class="sn__list--link" href="http://www.twitter.com/vzenterprise"><span class="icon-twitter"></span></a></li>
                  <li class="sn__list"><a class="sn__list--link" href="https://www.facebook.com/VerizonEnterprise"><span class="icon-facebook"></span></a></li>
                  <li class="sn__list"><a class="sn__list--link" href="http://www.youtube.com/user/verizonenterprise"><span class="icon-youtube"></span></a></li>
              </ul>
              <div class="clearfix"></div>
              <hr>
              <div class="poweredby">
                  <span>Powered by</span><span class="logo"></span>
              </div>
          </li>
          <div class="clearfix"></div>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
