<nav class="navbar navbar--ts navbar-fixed-top">
  <div class="navbar--ts__container container">
    <div class="navbar-header navbar--ts__header">
      <button id="navbar-btn" type="button" class="navbar-toggle collapsed" (click) ='toggle()'>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="account-info">
        <a routerLink="/login">Sign In</a>
      </div>
      <a class="navbar--ts__header--brand navbar-brand" href="/">
        <span class="icon-thingspace"></span>
        <span class="logo-title">ThingSpace1</span>
      </a>
    </div>
  </div>
</nav>
