<div class="height-extend">
  <div class="video-wrapper">
    <div class="video">
      <section class="video--inner">
        <video autoplay id="bgvid" loop poster="/assets/images/TS-bkgrnd-02.jpg">
          <source src="https://files.thingspace.verizon.com/tspace/ThingSpace_Hero_03.Mp4" type="video/mp4">
        </video>
        <div class="video-text center">
          <div class="container hero__content hero__content--text">
            <div class="icon-container">
              <div class="ts__circle">
                <span class="ts__circle--icon icon-thingspace-circle"></span>
              </div>
            </div>
            <header class="video-header">the internet of things on<br>a powerful network.</header>
            <div class="btn">
              <a href="/developer/build#/trynow">try it</a>
            </div>
          </div>
        </div>
        <div class="bottom__block">
          <div class="container">
            <ul class="bottom__menu clearfix col-xs-12">
              <li class="bottom__menu__list col-xs-12 col-sm-4">
                <a href="/developer/" class="bottom__menu__list--link">develop</a>
              </li>
              <li class="bottom__menu__list col-xs-12 col-sm-4">
                <a routerLink="/manage/" class="bottom__menu__list--link">manage</a>
              </li>
              <li class="bottom__menu__list col-xs-12 col-sm-4">
                <a href="/solutions" class="bottom__menu__list--link">market</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<footer class="sticky-footer"></footer>
